body {
    font-family: Arial, Helvetica, sans-serif;        
}

h1 {
    font-size:24px;
    color:#006699;  
}

header {
    background: linear-gradient(#eff7fe,#e5f1fb);
} 

p {
    font-size: 12px;    
}

span {
    font-size: 16px;
    font-weight: bold;
}
.container {
   margin: 8px;
}

.container__ref {
    float: left; 
    box-sizing: border-box;
  
}

.container__rec {
    margin-left:200px;   
    overflow:hidden;     
}

#recommendations {
    display: flex;
}

div {
    width: 200px;
    padding: 8px;
    box-sizing: border-box;
    
}

.btn-left {
    font-size: 32px;    
    border: none;    
    background: transparent;
}

.btn-right {
    font-size: 32px;
    border: none;
    background: transparent;
}

.name {
    height: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;    
    color: #464633;
}

.price {
    color:#cf0000;
}